.navbar {
    z-index: 99999;
    background-color: #ddd0;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding-right: 0;
    display: flex;
    position: fixed;
    inset: 0% 0% auto;
}

.nav-content {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: #1212171f;

    border-radius: 100px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 24px 48px;

    display: flex;
}

.nav-menu {
    display: flex;
    align-items: center;

    > * {
        margin-left: 16px;
        padding: 12px 20px;
    }
}


a {
    text-decoration: none;
    transition: color .4s ease-in-out;
    color: var(--white);

    &:visited {
        color: var(--white);
    }

    &:hover {
        color: var(--teal-500);
    }

}