<section class="contact-form" id="contact-me">
    <form action="javascript:void(0);" (submit)="send()" [formGroup]="form">
        <h2 class="form-headline">Contact Me!</h2>
        <div class="name-field input-container">
            <input 
                class="input"
                type="text" 
                name="name" 
                id="name"
                placeholder=""
                formControlName="from_name"
                required
                [class.invalid]="hasError('from_name', 'required')"
            >
            <label class="label required" title="Full Name (required)" for="name">Full Name</label>
            <div *ngIf="hasError('from_name', 'required')" class="error-message">
                Full Name is required
            </div>
        </div>
        <div class="email-field input-container">
            <input 
                class="input"   
                type="email" 
                name="email" 
                id="email"
                placeholder=""
                inputmode="email"
                formControlName="from_email"
                required
                [class.invalid]="hasError('from_email', 'required') || hasError('from_email', 'email')"
            >
            <label class="label required" title="Email Address (required)" for="email">Email Address</label>
            <div *ngIf="hasError('from_email', 'required')" class="error-message">
                Email is required
            </div>
        </div>
        <div class="subject-field input-container">
            <input 
                class="input"
                type="text" 
                name="subject" 
                id="subject"
                placeholder=""
                formControlName="subject"
                required
                [class.invalid]="hasError('subject', 'required')"
            >
            <label class="label required" title="Subject (required)" for="subject">Subject</label>
            <div *ngIf="hasError('subject', 'required')" class="error-message">
                Subject is required
            </div>
        </div>
        <div class="message-field input-container">
            <textarea 
                class="input"
                name="message" 
                id="message"
                placeholder=""
                formControlName="message"
                required
                [class.invalid]="hasError('message', 'required')"
            ></textarea>
            <label class="label required" title="Message (required)" for="message">Message</label>
            <div *ngIf="hasError('message', 'required')" class="error-message">
                Message is required
            </div>
        </div>
        <div class="button-container">
            <button class="submit-btn" type="submit">Send</button>
        </div>
    </form>
</section>
<!-- {{form.value | json }} -->