#contact-me {
    scroll-margin-top: 120px;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    min-width: 800px;

    background-color: var(--high-opac);
    border-radius: 48px;
    padding: 32px 48px 64px 48px;
}

.form-headline {
    font-size: 2rem;
    background: -webkit-linear-gradient(135deg, #32ffce, #5efe90);
    background: linear-gradient(135deg, #32ffce, #5efe90);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-container {
    position: relative;
}

input,
textarea {
    border: 1px solid  var(--outline);
    background-color: var(--dark-background);
    color: var(--body-text);
    padding: 20px 12px;
    transition: border 100ms ease-in;

    &:hover {
        border-color: var(--teal-900);
    }

    &:focus {
        border-color: var(--teal-500) !important;
    }

    &:focus-visible {
        outline: none;
    }
}

input {
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    min-width: min-content;
    width: 45ch;
}

textarea {
    border-radius: 8px;
    resize: none;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        margin-top: 8px;
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb);
        border-radius: 20px;
    }
}

.required::after {
    content: '*';
}

.label {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--body-text);
    line-height: 40px;

    position: absolute;
    left: 15px;
    top: 14px;
    cursor: text;
    transition: .15s ease-in-out;
}

.input-container {
    position: relative;
}

.input:focus + .label {
    line-height: normal;
    font-size: .8rem;
    top: -8px;
    left: 30px;
    z-index: 3;
    background: var(--dark-background);
    padding: 0 8px;
    border-radius: 10px;
}

.input:not(:placeholder-shown) + .label {
    line-height: normal;
    font-size: .8rem;
    top: -8px;
    left: 30px;
    z-index: 3;
    background: var(--dark-background);
    padding: 0 8px;
    border-radius: 10px;
}

.message-field > textarea {
    width: 55ch;
}

.message-field > textarea {
    min-height: 200px;
}

@supports not selector(::-webkit-scrollbar) {
    textarea {
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    }
}

@property --tealColor {
    syntax: '<color>';
    initial-value: #32ffce;
    inherits: false;
}

@property --greenColor {
    syntax: '<color>';
    initial-value: #5efe90;
    inherits: false;
}

.submit-btn {
    appearance: button;
    -webkit-appearance: button;
    background: linear-gradient(var(--tealColor), var(--greenColor));
    background: -webkit-linear-gradient(var(--tealColor), var(--greenColor));
    border-radius: 1000px;
    padding: 16px 24px;
    border: 1px solid var(--high-opac);
    cursor: pointer;

    font-size: 1.2rem;
    font-weight: 500;

    transition: border .3s ease-in-out;

    &:hover {
        border: 1px solid var(--teal-500);

        background: -webkit-linear-gradient(135deg, #32ffce, #5efe90);
        background: linear-gradient(135deg, #32ffce, #5efe90);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.error-message {
    position: absolute;
    margin-left: 30px;
    color: var(--warning-color);
}

@media screen and (max-width: 479px) {  
    form {
        min-width: 0;
        width: 90%;

        input{
            width: 30ch;
        }

        .message-field > textarea {
            width: 37ch;
        }
    }
}