#projects {
    scroll-margin-top: 130px;
    position: relative;
}

.projects-headline {
    color: var(--dark-teal);
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    top: -30px;
    left: 30%;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin-inline: auto;
    margin-top: 64px;
    margin-bottom: 100px;
}

.project-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;

    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: all;
    border: 1px solid var(--body-color-high-opac);
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: rgba(#fff, .02);
        border: 1px solid rgba(#fff, .04);

        .new-tab {
            transform: translate(2px, 1px) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
            fill: var(--teal-500);
        }

        .project-link {
            color: var(--teal-500);
        }

        .thumbnail {
            border-color: rgba(226, 232, 240, .3);
        }
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.projects:hover .project-wrapper {
    opacity: .4;
}

.projects .project-wrapper:hover {
    opacity: 1;
}


.project-title {
    font-weight: 500;
    margin: 16px;
}

.project-link {
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: all;
}

.new-tab {
   transform: translateY(6px);
   transition-property: transform, filter;
   transition-timing-function: cubic-bezier(.4, 0, .2, 1);
   transition-duration: .25s;
   display: inline;
   
   > * {
    cursor: pointer;
   }
}

.project-desc {
    color: var(--body-text);
    margin: 16px;
}


ul {
    list-style: none;
}

.thumbnail {
    border: 2px solid rgba(226, 232, 240, .1);
    border-radius: .25rem;
    // transform: matrix(1, 0, 0, 1, 0, 4);
    transition-duration: 0.15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 200px;

    &:hover {
        animation: pulsate 2s forwards;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80vw;
}

.close {
    position: absolute;
    top: 100px;
    right: 100px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
}

.modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.pill-container {
    display: flex;
    flex-wrap: wrap;
}

.tech-pill {
    margin-top: .5rem;
    margin-left: 16px;
    padding: 4px 12px;
    border-radius: 9999px;

    color: var(--teal-500);
    background-color: var(--dark-teal);
    
    font-weight: 500;
    font-size: .75rem;
}

@media screen and (max-width: 479px) {  
    #projects {
        scroll-margin-top: 180px;
    }

    .projects-headline {
        top: -75px;
        left: 50%;
        transform: translate(-50%);
    }

    .projects {
        margin-top: 120px;
    }

    .project-wrapper {
        flex-direction: column;

        &:first-child {
            margin-top: 32px;
        }
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(226,232,240,0.5);
    }
    90% {
        transform: scale(1.05);
        box-shadow: 0 0 10px 5px rgba(226,232,240,0.5);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(226,232,240,0.5);
    }
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}