#experience {
    scroll-margin-top: 120px;
}

.experiences {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin-inline: auto;
    margin-top: 64px;
    margin-bottom: 100px;
}

.experience-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;

    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: all;
    border: 1px solid var(--body-color-high-opac);
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: rgba(#fff, .02);
        border: 1px solid rgba(#fff, .04);

        .new-tab {
            transform: translate(2px, 1px) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
            fill: var(--teal-500);
        }

        .experience-link {
            color: var(--teal-500);
        }

        .thumbnail {
            border-color: rgba(226, 232, 240, .3);;
        }
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.experiences:hover .experience-wrapper {
    opacity: .4;
}

.experiences .experience-wrapper:hover {
    opacity: 1;
}



.time-range {
    letter-spacing: .025em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
    color: rgb(94, 96, 99);

    margin-top: 16px;
    margin-bottom: auto;    

    min-width: 128px;
}

.experience-title {
    font-weight: 500;
    margin: 16px;
}

.experience-link {
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: all;
}

.new-tab {
   transform: translateY(6px);
   transition-property: transform, filter;
   transition-timing-function: cubic-bezier(.4, 0, .2, 1);
   transition-duration: .25s;
   display: inline;
   
   > * {
    cursor: pointer;
   }
}

.experience-desc {
    color: var(--body-text);
    margin: 16px;
}


ul {
    list-style: none;
}

.thumbnail {
    border: 2px solid rgba(226, 232, 240, .1);
    border-radius: .25rem;
    transform: matrix(1, 0, 0, 1, 0, 4);
    transition-duration: 0.15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 200px;
}

.pill-container {
    display: flex;
    flex-wrap: wrap;
}

.tech-pill {
    margin-top: .5rem;
    margin-left: 16px;
    padding: 4px 12px;
    border-radius: 9999px;

    color: var(--teal-500);
    background-color: var(--dark-teal);
    
    font-weight: 500;
    font-size: .75rem;
}